@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin:0;
    padding:0;
}
html,body {
    margin-top:0%;
    padding:0;
}

nav li {
    list-style:none;
    display:inline-block;
    margin-right:1em;
}

.player-card:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}